@font-face {
  font-family: SoulBillani;
  src: url(./assets/fonts/SoulBillani.otf);
}

body {
  background-color: gray;
  justify-content: center;
  display: flex;
  align-items: center;
  
}

h1 {
  font: normal 80px SoulBillani;
}

#container {
  width: 600px;
  height: 800px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 5px 5px 10px black;
  border-radius: 5%;
  background-color: #FFb6c1 ;
 
}

#container2 {
  background-color: #fff;
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5%;
}

#circulo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFb6c1;
  margin-top: 10px;
}

#result {
  
  text-align: center;
  padding: auto;
  font: normal bold 98px SoulBillani;
}

button {
  color: #ffffff;
  background: #ff6781;
  border-radius: 5%;
  padding: 10px;
  
}

button:hover {
  background: #de3163;
}

button:clicked {
  background: #00BFFF;
}

.input {
  margin: 10px;
}

span {
  font-size: 90px;
  font-weight: bold;
}

